@model Northwind_John.ViewModel.depViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.deptfile.dept_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.depts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dept_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.dept_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.dept_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.dept_id })
        </td>
    </tr>
}

</table>
@Html.Partial("Create")